@model BusinessRequirements.Models.BR.BRDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BRDetail</h4>
    <hr />
    <dl class="row">
        @Html.HiddenFor(model => model.ProjectId)
        @Html.HiddenFor(model => model.HLCId)
        @Html.HiddenFor(model => model.BRId)

        <dt class="col-sm-3 text-left">
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt class="col-sm-3 text-left">
            @Html.DisplayNameFor(model => model.HLCNumber)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.HLCNumber)
        </dd>

        <dt class="col-sm-3 text-left">
            @Html.DisplayNameFor(model => model.BRNumber)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.BRNumber)
        </dd>

        <dt class="col-sm-3 text-left">
            @Html.DisplayNameFor(model => model.BusinessRequirement)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.BusinessRequirement)
        </dd>

        <dt class="col-sm-3 text-left">
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt class="col-sm-3 text-left">
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    @Html.ActionLink("Back to BR List", "Index", "BR", new { projectId = Model.ProjectId }, null)
</div>
    }
</div>
