@model IEnumerable<BusinessRequirements.Models.BR.BRListItem>

@{
    ViewBag.Title = "Index";
}

<h2>BR List</h2>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HLCNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BRNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessRequirement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </th>
        <th></th>
    </tr>
    @{ int pId = 0;}
    @foreach (var item in Model)
    {
        <tr>
            @Html.HiddenFor(modelItem => item.HLCId)

            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HLCNumber)
            </td>
            @Html.HiddenFor(modelItem => item.BRId)
            <td>
                @Html.DisplayFor(modelItem => item.BRNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessRequirement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedUtc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BRId }) |
                @Html.ActionLink("Details", "Details", new { id = item.BRId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BRId })
            </td>
        </tr>
        pId = item.ProjectId;

    }

</table>

<p>
    @Html.ActionLink("Back to Project Details", "Details", "Project", new { id = pId }, null) |
    @Html.ActionLink("Back to HLC List", "Index", "HLC", new { projectid = pId}, null)
</p>
