@model IEnumerable<BusinessRequirements.Models.HLC.HLCListItem>

@{
    ViewBag.Title = "Index";
}
<br />
<h2>HLC List</h2>

<p>
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Project)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HLCNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HLCDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </th>

        <th></th>
    </tr>

    @{int pId = 0; }
    
    @foreach (var item in Model)
    {
        <tr>
            @Html.HiddenFor(modelItem => item.ProjectId)
            <td>
                @Html.DisplayFor(modelItem => item.Project)
            </td>
            @Html.HiddenFor(modelItem => item.HLCId)
            <td>
                @Html.DisplayFor(modelItem => item.HLCNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HLCDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedUtc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.HLCId }) |
                @Html.ActionLink("Details", "Details", new { id = item.HLCId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.HLCId })
            </td>
        </tr>
        pId = item.ProjectId;
    }

</table>

<p>
    @Html.ActionLink("Back to Project Details", "Details", "Project", new { id = pId }, null) |
    @Html.ActionLink("New HLC", "Create", new { projectid = pId}, null)
</p>

