@model BusinessRequirements.Models.Project.ProjectDetail

@{
    ViewBag.Title = "Delete";
}

<h2></h2>

<h3>Are you sure you want to delete this Project?</h3>
<div>
    <h4>Project Information</h4>
    <hr />
    <dl class="row">
        @Html.HiddenFor(model => model.ProjectId)
        <dt class="col-sm-3 text-left">
            @Html.DisplayNameFor(model => model.Ticket)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.Ticket)
        </dd>

        <dt class="col-sm-3 text-left">
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt class="col-sm-3 text-left">
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt class="col-sm-3 text-left">
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.Budget)
        </dd>

        <dt class="col-sm-3 text-left">
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt class="col-sm-3 text-left">
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
