@model BusinessRequirements.Models.Project.ProjectDetail

@{
    ViewBag.Title = "Details";
}

<h2></h2>

<div>
    <h4>Project Details</h4>
    <hr />
    <dl class="row">
        @Html.HiddenFor(model => model.ProjectId)

        <dt class="col-sm-3 text-left">
            @Html.DisplayNameFor(model => model.Ticket)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.Ticket)
        </dd>

        <dt class="col-sm-3 text-left">
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt class="col-sm-3 text-left">
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt class="col-sm-3 text-left">
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.Budget)
        </dd>

        <dt class="col-sm-3 text-left">
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt class="col-sm-3 text-left">
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectId }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("View HLCs", "Index", "HLC", new { projectId = Model.ProjectId }, null) |
    @Html.ActionLink("New HLC", "Create", "HLC", new { projectId = Model.ProjectId }, null) |
    @Html.ActionLink("View BRDs", "Index", "BR", new { projectId = Model.ProjectId }, null) 
</p> 
